<div class="responsive">
  <div class="form-container mat-elevation-z5">

    <h1 style="text-align:center">Sign Up!</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="form">

      <mat-form-field>
        <input matInput type="text" placeholder="Enter your name" formControlName="name">
        <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="!password?.errors?.['minLength'] && !password?.errors?.['required']">The password must contain
          6 characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword">
        <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required</mat-error>
        <mat-error *ngIf="!confirmPassword?.errors?.['minLength'] && !confirmPassword?.errors?.['required']">The
          password must contain 6 characters</mat-error>
      </mat-form-field>
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">Password should match</mat-error>

      <div class="center margin-top">
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </div>

    </form>

  </div>
</div>
