<div class="landing">
  <div class="form-container">
    <div class="responsive">
      <h1 class="title">Chat with your friends!</h1>

      <p class="subtitle">Only need your email, and name of your friends</p>

      <button class="primary-button login-button" routerLink="home">Let's chat</button>
      <br>
      <p class="resend">
          <span>Do you don´t have a account? </span>
          <a routerLink="sign-up">Create account!</a>
      </p>
    </div>


  </div>
</div>
