.landing {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.responsive{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: black;
  font-size: 16px;
  font-weight: 300px;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.resend{
  font-size: 14px;
}

.resend span{
  color: black;
}

.resend a{
  color: blue;
  text-decoration: none;
}

.primary-button {
  background-color: #c5cae9;
  border-radius: 8px;
  border: none;
  color: black;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
