mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-right ul li {
  text-decoration: none;
  padding: 8px;
}

.menu {
  display: none;
}

.navbar-responsive{
  font-size: 14px;
  margin-right: 12px;
  align-items: center;
}

@media (max-width: 640px) {
  .menu{
      display: block;
  }
  .navbar-responsive{
      display: none;
  }
}
