<mat-toolbar color="primary">
  <img src="../assets/images/icon_menu.svg" alt="menu" class="menu" [matMenuTriggerFor]="userMenu">

  <div class="navbar-right">
    <h1 class="logo">Chat Firebase</h1>
  </div>

  <div class="navbar-right">

    <ul>

      <li class="navbar-responsive">
        <ng-container *ngIf="user$ | async as user; else registerButton">
          <button mat-button routerLink="home">
            <mat-icon>chat</mat-icon>
            Chat
          </button>
        </ng-container>
      </li>

      <li class="navbar-responsive">
        <ng-container *ngIf="user$ | async as user; else loginButton">
          <button mat-button [matMenuTriggerFor]="userMenu">
            <img width="30" height="30" class="profile-image-toolbar"
              [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" />
            {{ user.displayName }}
            <mat-icon>expand_more</mat-icon>
          </button>
        </ng-container>
      </li>


      <li class="navbar-responsive">
        <ng-template #registerButton>
          <button mat-button routerLink="sign-up">
            <mat-icon>account_box</mat-icon>
            sign-up
          </button>
        </ng-template>
      </li>

      <li class="navbar-responsive">
        <ng-template #loginButton>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
      </li>

    </ul>

  </div>

</mat-toolbar>


<router-outlet></router-outlet>


<mat-menu #userMenu="matMenu">
  <button *ngIf="user$ | async as user; else loginButton" mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button *ngIf="user$ | async as user; else registerButton" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
