<div class="responsive">

  <div class="form-container mat-elevation-z5">

    <h1 style="text-align:center">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form">

      <mat-form-field>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="!password?.errors?.['minLength'] && !password?.errors?.['required']">The password must contain
          6 characters</mat-error>
      </mat-form-field>

      <div class="center margin-top">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>



      <span class="center margin-top">New in the platform? <a class="sign-up-link" routerLink="/sign-up">Sign
          Up</a></span>

    </form>

  </div>
</div>
