.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.responsive{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}
