.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.responsive{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}
